@tailwind base;
@tailwind components;
@tailwind utilities;

/* divider  */
.top {
    clip-path: polygon(0 0,100% 0,100% calc(100% - 80px),50% 100%,0 calc(100% - 80px));
  }
  .bottom {
    clip-path: polygon(0 0,50% 80px,100% 0,100% 100%,0 100%);
    margin-top: -80px;
  }

/* divider */

.top1 {
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 70px));
  }
.bottom1 {
    clip-path: polygon(0 0,100% 70px,100% 100%,0 100%);
    margin-top: -70px;
  }

/* Card */
.Custom-Card {
    @apply lg:m-6 xl:m-0 relative flex flex-col items-center overflow-hidden w-[400px] h-[500px] rounded-lg shadow-md bg-white shadow-slate-400 border-2 border-slate-400 group-hover:blur-sm hover:!blur-none hover:scale-105 transition duration-300 ease-in-out;
  }
.Card-Img {
    @apply absolute top-[-100px];
}
.Card-P {
    @apply absolute z-10 bottom-0 flex items-center p-6 bg-white h-[120px];
}
.Nav-Button{
    @apply p-4 text-xl text-white font-semibold rounded-xl hover:bg-[#003566] hover:scale-105 transition duration-200 ease-in-out active:scale-100;
}
.Download{
    @apply flex items-center px-12 py-4 text-xl font-bold rounded-xl border-2 border-white bg-[#001D3D] hover:scale-105 transition duration-200 ease-in-out active:scale-100;
}
